<%=  "#{@contact.first_name_c_j}ちゃんのページ" %>

 <div class="prototype__image">
        <%= image_tag @contact.image %>
</div>

 <div class="prototype__image">
        <%= "保護者:#{@contact.parent_user.last_name_p_j}#{@contact.parent_user.first_name_p_j}さん" %>
</div>


  <% if parent_user_signed_in? && current_parent_user.id == @contact.parent_user_id %>
        <div class="prototype__manage">
          <%= link_to "連絡帳を編集する", edit_contact_path(@contact.id), class: :prototype__btn %>
          <%= link_to "連絡帳を削除する", contact_path(@contact.id), method: :delete, class: :prototype__btn %>
        </div>

      <%= form_with(model:[@contact, @parent_message] , local: true) do |f| %>
        <div class="field">
          <%= f.label :attendance_id, "出欠席" %><br />
          <%= f.collection_select(:attendance_id, Attendance.all, :id, :name, {}, {class:"select-box", id:"class"}) %>
        </div>
        <div class="field">
          <%= f.label :body_temperature_id, "体温" %><br />
          <%= f.collection_select(:body_temperature_id, BodyTemperature.all, :id, :name, {}, {class:"select-box", id:"class"}) %>
        </div>
        <div class="field">
          <%= f.label :pick_up_time_id, "お迎えの時間" %><br />
          <%= f.collection_select(:pick_up_time_id, PickUpTime.all, :id, :name, {}, {class:"select-box", id:"class"}) %>
        </div>
        <div class="field">
          <%= f.label :pick_up_person_id, "お迎えの人" %><br />
          <%= f.collection_select(:pick_up_person_id, PickUpPerson.all, :id, :name, {}, {class:"select-box", id:"class"}) %>
        </div>
        <div class="field">
          <%= f.label :parent_comment, "特記事項" %><br />
          <%= f.text_field :parent_comment %>
        </div>
        <div class="actions">
          <%= f.submit "送信する", class: :form__btn  %>
        </div>
      <% end %>
  <% end %> 


 <% if teacher_user_signed_in? %>

<%= link_to(new_contact_service_path(@contact.id), class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>精算をお願いする</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

    <%= form_with(model:[@contact, @teacher_message] , local: true) do |f| %>     
        <div class="field">
          <%= f.label :physical_condition_id, "体調" %><br />
          <%= f.collection_select(:physical_condition_id, PhysicalCondition.all, :id, :name, {}, {class:"select-box", id:"class"}) %>
        </div>
        <div class="field">
          <%= f.label :school_lunch_id, "給食" %><br />
          <%= f.collection_select(:school_lunch_id, SchoolLunch.all, :id, :name, {}, {class:"select-box", id:"class"}) %>
        </div>
        <div class="field">
          <%= f.label :defecation_id, "排便" %><br />
          <%= f.collection_select(:defecation_id, Defecation.all, :id, :name, {}, {class:"select-box", id:"class"}) %>
        </div>
          <div class="field">
          <%= f.label :teacher_comment, "特記事項" %><br />
          <%= f.text_field :teacher_comment %>
        </div>
        <div class="field">
          <%= f.label :image, "本日の写真" %><br />
          <%= f.file_field :image %>
        </div>
        <div class="actions">
          <%= f.submit "送信する", class: :form__btn  %>
        </div>
    <% end %>
 <% end %> 


<% if parent_user_signed_in? && current_parent_user.id == @contact.parent_user_id || teacher_user_signed_in? %>
<li class="comments_list">
  <% @services.each do |service| %>
    <p> 
     <%= service.service_type.name %>
     <%= "#{service.unit_price.unit_price}円" %>
     <%= "#{service.number_of_times}回" %>
     <%= "総額#{service.unit_price.unit_price * service.number_of_times}円" %>
   <%# もしservice_orderテーブルに保存されていたら %>
   <% if service.service_order != nil %> 
     <div class='settlement'>
       <b>決済済です</b>
     </div>
   <% elsif parent_user_signed_in? %> 
     <%= link_to '決済する', order_service_path(service.id), method: :post %>
  <% end %> 
   </p>
  <% end %>
</li>
<li class="comments_list">
  <% @parent_messages.each do |parent_message| %>
    <p> 
     <%= parent_message.created_at.to_s(:datetime_jp) %>
     <%= parent_message.attendance.name %> 
     <%= parent_message.body_temperature.name %>
     <%= parent_message.pick_up_time.name %>
     <%= parent_message.pick_up_person.name %>
   </p>
  <% end %>
</li>
<li class="comments_list">
  <% @teacher_messages.each do |teacher_message| %>
    <p> 
     <%= teacher_message.created_at.to_s(:datetime_jp) %>
     <%= teacher_message.physical_condition.name %> 
     <%= teacher_message.school_lunch.name %>
     <%= teacher_message.defecation.name %>
     <%= image_tag teacher_message.image, class: 'teacher_message-image' if teacher_message.image.attached? %>
   </p>
  <% end %>
</li>
<% end %>